{% extends 'base.html.twig' %}

{% block title %}Nouvel horaire - Admin{% endblock %}

{% block body %}
<div class="container py-4">
    {{ include('admin_nav.html.twig') }}
    <h1>Créer un horaire</h1>
    {{ include('ActivityTemplate/activity_schedule/_form.html.twig') }}
    <a href="{{ path('app_activity_schedule_index') }}" class="btn btn-secondary mt-2">Retour à la liste</a>
</div>
{% endblock %}
