{% extends 'base.html.twig' %}

{% block title %}Nouveau guide - Admin{% endblock %}

{% block body %}
<div class="container py-4">
    {{ include('admin_nav.html.twig') }}
    <h1>Créer un guide</h1>
    {{ include('ActivityTemplate/guide/_form.html.twig') }}
    <a href="{{ path('app_guide_index') }}" class="btn btn-secondary mt-2">Retour à la liste</a>
</div>
{% endblock %}
