{% extends 'BackOffice/base.html.twig' %}

{% block title %}Modifier un équipement - Admin{% endblock %}

{% block body %}
<div class="container py-4">
    {{ include('admin_nav.html.twig') }}
    <h1>Modifier un équipement</h1>
    {{ include('HebergementTemplate/equipement/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <a href="{{ path('app_equipement_index') }}" class="btn btn-secondary mt-2">Retour à la liste</a>
    <div class="mt-3">
        {{ include('HebergementTemplate/equipement/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
