{% extends 'base.html.twig' %}

{% block title %}New CategorieHebergement{% endblock %}

{% block body %}
    <h1>Create new CategorieHebergement</h1>

    {{ include('HebergementTemplate/categorie_hebergement/_form.html.twig') }}

    <a href="{{ path('app_categorie_hebergement_index') }}">back to list</a>
{% endblock %}
