<!DOCTYPE html>

<title>Edit ActivitySchedule</title>

{% block body %}
    <h1>Edit ActivitySchedule</h1>

    {{ include('activity_schedule/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_activity_schedule_index') }}">back to list</a>

    {{ include('activity_schedule/_delete_form.html.twig') }}
{% endblock %}
