{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie - Admin{% endblock %}

{% block body %}
<div class="container py-4">
    {{ include('admin_nav.html.twig') }}
    <h1>Créer une catégorie</h1>
    {{ include('ActivityTemplate/activity_category/_form.html.twig') }}
    <a href="{{ path('app_activity_category_index') }}" class="btn btn-secondary mt-2">Retour à la liste</a>
</div>
{% endblock %}
