{% extends 'base.html.twig' %}

{% block title %}Créer une chambre - Admin{% endblock %}

{% block body %}
<div class="container py-4">
    {{ include('admin_nav.html.twig') }}
    <h1>Créer une chambre</h1>
    {{ include('HebergementTemplate/chambre/_form.html.twig') }}
    <a href="{{ path('app_chambre_index') }}" class="btn btn-secondary mt-2">Retour à la liste</a>
</div>
{% endblock %}
