{% extends 'BackOffice/base.html.twig' %}

{% block title %}Nouveau produit - Admin{% endblock %}

{% block body %}
<div class="container py-4">
    {{ include('admin_nav.html.twig') }}
    <h1>Créer un produit</h1>
    {{ include('ProductTemplate/produit/_form.html.twig') }}
    <a href="{{ path('app_produit_index') }}" class="btn btn-secondary mt-2">Retour à la liste</a>
</div>
{% endblock %}
