{% extends 'base.html.twig' %}

{% block title %}Modifier l'activité - Admin{% endblock %}

{% block body %}
<div class="container py-4">
    {{ include('admin_nav.html.twig') }}
    <h1>Modifier l'activité</h1>
    {{ include('ActivityTemplate/activity/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    <a href="{{ path('app_activity_index') }}" class="btn btn-secondary mt-2">Retour à la liste</a>
    {{ include('ActivityTemplate/activity/_delete_form.html.twig') }}
</div>
{% endblock %}
