{% extends 'BackOffice/base.html.twig' %}

{% block title %}Nouvelle activité - Admin{% endblock %}

{% block body %}
<div class="container py-4">
    {{ include('admin_nav.html.twig') }}
    <h1>Créer une activité</h1>
    {{ include('ActivityTemplate/activity/_form.html.twig') }}
    <a href="{{ path('app_activity_index') }}" class="btn btn-secondary mt-2">Retour à la liste</a>
</div>
{% endblock %}
