{% extends 'BackOffice/base.html.twig' %}

{% block title %}Créer un trajet - Admin{% endblock %}

{% block body %}
<div class="container py-4">
    {{ include('admin_nav.html.twig') }}
    <h1>Créer un trajet</h1>
    {{ include('TransportTemplate/trajet/_form.html.twig') }}
    <a href="{{ path('app_trajet_index') }}" class="btn btn-secondary mt-2">Retour à la liste</a>
</div>
{% endblock %}
