{% extends 'base.html.twig' %}

{% block title %}Mon compte | Eco Trip | {{ app.user.username }}{% endblock %}

{% block body %}
    <!--================Breadcrumb Area =================-->
    <section class="breadcrumb_area">
        <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="page-cover text-center">
                <h2 class="page-cover-tittle">Mon compte</h2>
                <ol class="breadcrumb">
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li class="active">Mon compte</li>
                </ol>
            </div>
        </div>
    </section>
    <!--================Breadcrumb Area =================-->

    <section class="accomodation_area section_gap">
        <div class="container">
            <p class="text-center">Bienvenue sur votre espace compte.</p>
        </div>
    </section>
{% endblock %}
